{% extends 'base.html' %}
{% block content %}
<h1>Welcome to Layot Store!</h1>

<h5>Product: </h5>
<p>{{ name }}<p>
<br>
<img src="https://i.etsystatic.com/41972288/r/il/bbb53e/5644218864/il_300x300.5644218864_i0yd.jpg">
<br><br>

<h5>Price:</h5>
<p>{{ price }}</p>

<h5>Description:</h5>
<p>{{ description }}</p>

{% if not to_cart %}
<p>Belum ada barang yang dimasukkan ke keranjang.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Description</th>
    <th>Total</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for cart in to_cart %}
  <tr>
    <td>{{cart.name}}</td>
    <td>{{cart.time}}</td>
    <td>{{cart.description}}</td>
    <td>{{cart.total}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:add_to_cart' %}">
  <button>Add To Cart</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</a>

<br>
<p>Thank you for using our store</p>
<p>&copy; 2024 Layot Store. All Rights Reserved.</p>
{% endblock content %}